.feed-container {
    color: #ccc;
    height: 500px;
    display: flex;
    flex-direction: column;
    overflow-y: scroll;
}

@media (max-height: 700px) {
    .feed-container {
        height: 420px;
    }
}



@media (max-height: 640px) {
    .feed-container {
        height: 360px;
    }
}