.message {
    padding: 20px;
    display: flex;
    border-bottom: 1px solid rgba(255, 255, 255, 0.4);
}

.message > .msg-pfp {
    margin-right: 10px;
}

.message > .msg-text {
    flex: 1;
}

.message > .msg-text > .name {
    font-weight: 700;
    color: rgb(168, 74, 255);
}