@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@300;400;500;600;700&display=swap');

:root {
  font-family: 'Roboto Mono', monospace;
  line-height: 1.5;
  font-weight: 400;
  background-color: #000;

  /* COLOR PALETTE */
  --lightgray: rgba(255, 255, 255, 0.4);
  --purple: rgb(151, 55, 255);
  --green: #08de5d;
  --ulightgreen: rgba(8, 222, 93, 0.03);
}

* {
  margin: 0;
  padding: 0;
}